<div class="order-summary-background"></div>
<div class="order-summary">
    <div class="order-summary__card">
        <div class="order-summary__header">
        </div>
        <div class="order-summary__body">
            <div class="order-summary__text">
            <h1>Order Summary</h1>
            <p>You can now listen to millions of songs, audiobooks, and podcasts on any device anywhere you like!</p>
        </div>
            <div class="order-summary__plan-details">
                <img class="order-summary__music-icon" src="../../../../assets/images/icon-music.svg">
                <div class="order-summary__text-stack">
                    <span class="order-summary__text-content order-summary__text-content--bold">Annual Plan</span>
                    <span class="order-summary__text-content">$59.99/year</span>
                </div>
                <span><a href="#">Change</a></span>
            </div>
            <div class="order-summary__button-wrapper">
                <button class="order-summary__button order-summary__button--primary">Proceed to Payment</button>
                <button class="order-summary__button order-summary__button--secondary">Cancel Order</button>
            </div>
        </div>
    </div>
</div>
