.order-summary-background {
  background-repeat: repeat-x;
  background-image: url(../../../../assets/images/pattern-background-desktop.svg);
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 100vw;
  background-color: hsl(225, 100%, 94%);
  z-index: -1;
}

.order-summary {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  &__card {
    height: 690px;
    width: 400px;
    background-color: white;
    border-radius: 20px;
    font-family: "Red Hat Display", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 5px 10px 4px rgba(189, 189, 189, 0.219);
  }

  &__header {
    height: 30%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../../../assets/images/illustration-hero.svg);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;

    p {
      font-weight: 500;
      margin-top: 8px;
      color: grey;
    }
    h1 {
      font-weight: 900;
      margin-top: 20px;
      font-size: 24px;
    }
  }

  &__body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
  }

  &__plan-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(238, 235, 235);
    padding: 15px 20px 20px 15px;
    margin-top: 15px;
    border-radius: 8px;
    margin-right: 10%;
    margin-left: 10%;
  }

  &__music-icon {
    width: 50px;
    height: 50px;
  }

  &__text-stack {
    display: flex;
    flex-direction: column;
  }

  &__text-content {
    font-size: 16px;
    color: grey;
    &--bold {
      font-weight: 700;
      color: black;
    }
  }

  &__button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    margin-bottom: 50px;
    margin-top: 50px;
  }

  &__button {
    border-radius: 10px;
    height: 40px;
    width: 80%;
    border-style: none;
    font-size: 16px;
    box-shadow: 5px 10px 4px rgb(189, 189, 189);

    &--primary {
      background-color: hsl(245, 75%, 52%);
      color: white;
    }

    &--secondary {
      color: hsl(229, 9%, 64%);
      font-weight: 700;
      background-color: white;
    }
  }
}
