/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap%22");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap%22");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@900&display=swap%22");
